Import libraries

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

Scrape list of postal codes on Wikipedia

In [62]:
url = "https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=1012118802"
extracting_data = requests.get(url)
soup = BeautifulSoup(extracting_data.content, 'html.parser')

Create dataframe from web content

In [87]:
table = soup.find('tbody')
rows = table.select('tr')
row = [r.get_text() for r in rows]

df = pd.DataFrame(row)
df = df[0].str.split('\n', expand=True)
df = df.rename(columns=df.iloc[0])
df = df.drop(df.index[0])
df = df[['Postal Code', 'Borough', 'Neighbourhood']]
df = df.rename(columns={'Postal Code': 'Postalcode'})

       Postalcode       Borough Neighbourhood
count         180           180           180
unique        180            12           100
top           M2H  Not assigned  Not assigned
freq            1            77            77

**Clean data**

*   Remove rows with Borough = Not assigned
*   If Neighborhood is not assigned replace it with Borough
*   Combine similar postal code areas

In [ ]:
df = df[df.Borough != 'Not assigned']
i = 0
for i in range(0,df.shape[0]):
    if df.iloc[i][2] == 'Not assigned':
        df.iloc[i][2] = df.iloc[i][1]
        i = i+1
df = df.groupby(['Postalcode', 'Borough'], sort = False).agg(','.join)
df.reset_index(inplace = True)

Shape of the dataframe

In [96]:
df.shape

(103, 3)